<button id="home" routerLink='' type="button">Home</button>
<div class="new-dream panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What are you dreaming of?</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Dream:</label>
        <br>
        <input class='form-control' #newTitle>
      </div>

      <div>
        <label> Dream Image url:</label>
        <br>
        <input class='form-control' #newImage>
      </div>

      <div>
        <label>Why this dream?</label>
        <br>
        <input class='form-control' #newWhy>
      </div>

      <div>
        <label>Which country is this in?</label>
        <br>
        <select class='form-control' #newCountry>
          <option value="Thailand">Thailand</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Vietnam">Vietnam</option>
          <option value="Laos">Laos</option>
          <option value="Indonesia">Indonesia</option>
          <option value="India">India</option>
        </select>
      </div>
      <br>
      <button class='btn' (click)="submitForm(newTitle.value, newImage.value, newWhy.value, newCountry.value); newTitle.value=''; newImage.value=''; newWhy.value=''; newCountry.value=''">Dream</button>
    </div>
  </div>
</div>
