.display{
  margin-top: 6vh;
  margin-left: 15vw;
}

.nav-bar {
  padding-top: 6vh;
}

#title-img {
  margin-top: 10px;
  height: 20vh;
  width: 40vh;
  margin-left: 14vw;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);

}

#new-dream-link {
  margin-top: 10px;
  height: 18vh;
  width: 30vh;
  margin-left: 12vw;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);

}

@media only screen and (max-width: 735px) {
  .title {
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 1vh;
  }

  #title-img {
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 1vh;
  }

  #new-dream-link {
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 1vh;
  }
}
