.flag {
  height: 20vh;
  width: 15vw;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
}

.pin {
  height: 50px;
  width: 70px;
}

@media only screen and (max-width: 735px) {
  .title {
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 1vh;
  }

  #title-img {
    width: 70vw;
    height: 30vh;
    margin-left: 15vw;
    margin-bottom: 1vh;
  }
}
