<div class="pins">
  <img class='pin' (click)="login()" src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
  <img class='pin' (click)="logout()" src="http://images.clipartnet.com/thumbtack-clipart-thumbtack-pushpin-vector-clip-art-600x454_9994d4.png">
  <img class='pin' routerLink='new-dream' src="http://img.clipartall.com/thumb-tack-clip-art-thumbtack-clipart-600_454.png">
  <img class='pin' routerLink='new-blog' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <img class='pin' routerLink='' id='right' src="http://images.clipartnet.com/thumbtack-clipart-thumbtack-pushpin-vector-clip-art-600x454_9994d4.png">
</div>
<router-outlet></router-outlet>
