<div *ngFor="let post of posts" class="edit-form panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Edit Dream</h4>
  </div>
  <div class="panel-body">
  <label>Dream:</label>
  <input class="form-control" [(ngModel)]="post.title">
  <br>

  <label>Dream Image url:</label>
  <input class="form-control" [(ngModel)]="post.image">
  <br>

  <label>Change Why?</label>
  <input class="form-control" [(ngModel)]="post.why">
  <br>

  <label>Change Country?</label>
  <select class='form-control' [(ngModel)]="post.country">
    <option value="Thailand">Thailand</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Vietnam">Vietnam</option>
    <option value="Laos">Laos</option>
    <option value="Indonesia">Indonesia</option>
    <option value="India">India</option>
  </select>
  <br>
  <button class='btn' (click)="submitUpdate(post)">Update</button>
  <button class='btn' (click)="beginDeletingPost(post)">Delete</button>
</div>

</div>
