.blogs-solo {
  font-family: 'Merienda One', cursive;
  background-color: linen;
  display: inline-block;
  margin-left: 5vw;
  margin-top: 5vh;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 4vh;
  margin-bottom: 10vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  min-width: 37vw;
  min-height: 50vh;
  max-width: 90vw;
}

#home {
  margin-top: 8vh;
  margin-left: 5vw;
}


img {
  width: 50vw;
  height: 50vh;
}

p {
  font-size: 25px;
  text-align: left;
  white-space: wrap;
  display: block;
  overflow: hidden;
}

button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 735px) {
  .blogs-solo {
    min-width: 64vw;
    min-height: 30vh;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  img {
    width: 60vw;
    height: 20vh;
  }

  h1 {
    font-size: 24px;
    max-width: 60vw;
  }
  p {
    font-size: 14px;
    max-width: 60vw;
  }
}
