.dreams, .blogs {
  background-color: linen;
  display: inline-block;
  margin-right: 6vw;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  min-width: 32vw;
  min-height: 30vh;
}

.dreams:hover {
  cursor: pointer;
}

img {
  width: 30vw;
  height: 24vh;
}

p {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30vw;
  display: block;
  overflow: hidden
}

h3, h4 {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30vw;
  display: block;
  overflow: hidden
}

@media only screen and (max-width: 735px) {
  .dreams, .blogs {
    min-width: 64vw;
    min-height: 30vh;
    margin-right: 0px;
  }

  img {
    width: 60vw;
    height: 30vh;
  }

  p {
    font-size: 12px;
    max-width: 60vw;
  }
}
