@import url('https://fonts.googleapis.com/css?family=Engagement');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

.display{
  margin-top: 6vh;
  margin-left: 15vw;
  width: 80vw;
  font-family: 'Merienda One', cursive;
}

.dreams {
  background-color: linen;
  display: inline-block;
  margin-left: 2.5vw;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  min-width: 30vw;
  min-height: 35vh;
}

.blogs {
  background-color: linen;
  margin-bottom: 3vh;
  margin-left: 2.5vw;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 2vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  width: 65vw;
  min-height: 60vh;
}

.blogs img {
  float: left;
  width: 28vw;
  height: 45vh;
  margin-right: 10px;
}

.dreams:hover, .blogs {
  cursor: pointer;
}

.flag {
  height: 20vh;
  width: 15vw;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  margin-left: .5vw;
}

.postits {
  margin-left: 4vw;
  font-family: 'Engagement', cursive;
  font-size: 2.5em;
}

.postit {
  height: 20vh;
  width: 15vw;
  margin-left: .5vw;
  text-align: center;
  background-image: url("http://www.clipartbest.com/cliparts/RTG/zeo/RTGzeorTL.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 6vw;
}

.pin {
  height: 5vh;
  width: 4vw;
}

.country-name {
  margin-left: 1.5vw;
  margin-top: 1.2vh;
}


.flag:hover {
  cursor: pointer;
}

.flags {
  margin-left: 2vw;
}

img {
  width: 28vw;
  height: 26vh;
}

.dreams p {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30vw;
  display: block;
  overflow: hidden
}

.blogs p {
  margin: 4px;
}

.sm-img {
  height: 35vh;
  width: 14vw;
  background-color: linen;
  display: inline-block;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 6vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
}

#come-true {
  text-align: center;
  font-family: 'Engagement', cursive;
  padding-top: 1vh;
  font-size: 7em;
  color: black;
  text-shadow:  1px 1px white;
  width: 62vw;
  height: 20vh;
  margin-left: 21vw;
  /*text-decoration: underline;*/
  /*background-color: linen;*/
  /*box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);*/

}

#sm-1 {
  margin-left: 1vw;
  transform: rotate(8deg);
}
#sm-2 {
  margin-top: 6vh;
  transform: rotate(-3deg);
}
#sm-3 {
  margin-bottom: 5vh;
  transform: rotate(-2deg);
}
#sm-4 {
  margin-top: 2vh;
  transform: rotate(6deg);
}
#sm-5 {
  margin-bottom: 3vh;
  transform: rotate(-2deg);
}
#sm-6 {
  transform: rotate(-2deg);
  float: left;
  margin-left: 1vw;
}
#sm-7 {
  float: right;
  margin-right: 1.5vw;
  transform: rotate(5deg);
}
#sm-8 {
  transform: rotate(2deg);
  float: left;
  margin-left: 2.5vw;
}
#sm-9 {
  float: right;
  margin-right: 2.5vw;
  transform: rotate(-5deg);
}

#title-img {
  transform: rotate(2deg);
  height: 32vh;
  width: 25vw;
  margin-top: 3vh;
  margin-left: 2vw;
  margin-bottom: 4vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
}

#title-img:hover {
  cursor: pointer;
}

h3, h4 {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30vw;
  display: block;
  overflow: hidden
}


@media only screen and (max-width: 1010px) {
  .dreams {
    margin-left: 20vw;
  }
  #sm-5 {
    display: none;
  }
}
@media only screen and (max-width: 735px) {
  .sm-img {
    display: none;
  }
  .dreams {
    width: 50vw;
    height: 50vh;
    margin-left: 5vw;
  }
  .blogs img {
    float: none;
    width: 60vw;
    padding-bottom: 3vh;
  }
  img {
    width: 43vw;
    height: 30vh;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
    max-width: 70vw;
  }
  #title-img {
    margin-left: 28vw;
    width: 45vw;
  }
  .country-name {
  font-size: .5em;
  margin-top: 0vh;
  margin-left: 4vw;
  }
  .postit {
    margin-top: 2vh;
    background-size: cover;
    height: 17vh;
  }
}
