<div class="morgan-sean">
  <img class='title' id='title-img' routerLink='' (click)='toggleAll()' src="https://img1.etsystatic.com/039/0/8508102/il_340x270.634936629_gxf2.jpg"/>
  <img class="sm-img" id='sm-1' src="/../assets/sm1.png">
  <img class="sm-img" id='sm-2' src="/../assets/sm2.png">
  <img class="sm-img" id='sm-3' src="/../assets/sm3.png">
  <img class="sm-img" id='sm-4' src="/../assets/sm7.png">
  <img class="sm-img" id='sm-5' src="/../assets/sm5.png">
  <!-- <img class="sm-img" id='sm-8' src="/../assets/sm7.png">
  <img class="sm-img" id='sm-8' src="/../assets/sm8.png">
  <img class="sm-img" id='sm-8' src="/../assets/sm9.jpg">
  <img class="sm-img" id='sm-8' src="/../assets/sm13.jpg"> -->
</div>
<div class="flags">
  <img class='flag' id='india' (click)='changePipe("india")' src="https://static.webshopapp.com/shops/094414/files/054025092/india-flag-vector-free-download.jpg"/>
  <img class='flag' id='thailand' (click)='changePipe("thailand")' src="https://static.webshopapp.com/shops/094414/files/054946872/thailand-flag-vector-free-download.jpg"/>
  <img class='flag' id='cambodia' (click)='changePipe("cambodia")' src="http://flaglane.com/download/cambodian-flag/cambodian-flag-large.jpg"/>
  <img class='flag' id='vietnam' (click)='changePipe("vietnam")' src="http://flaglane.com/download/vietnamese-flag/vietnamese-flag-large.jpg"/>
  <img class='flag' id='laos' (click)='changePipe("laos")' src="http://flaglane.com/download/laotian-flag/laotian-flag-large.gif"/>
  <img class='flag' id='indonesia' (click)='changePipe("indonesia")' src="https://static.webshopapp.com/shops/094414/files/054029268/indonesia-flag-vector-free-download.jpg"/>
</div>
<div class="postits row">
  <div class="postit">
    <img class='pin' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <br>
    <label class="country-name">India</label>
  </div>
  <div class="postit">
    <img class='pin' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <br>
    <label class="country-name">Thailand</label>
  </div>
  <div class="postit">
    <img class='pin' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <br>
    <label class="country-name">Cambodia</label>
  </div>
  <div class="postit">
    <img class='pin' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <br>
    <label class="country-name">Vietnam</label>
  </div>
  <div class="postit">
    <img class='pin' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <br>
    <label class="country-name">Laos</label>
  </div>
  <div class="postit">
    <img class='pin' src="http://4vector.com/i/free-vector-thumb-tack-clip-art_117137_Thumb_Tack_clip_art_hight.png">
    <br>
    <label class="country-name">Indonesia</label>
  </div>

</div>
<br>
  <img *ngIf='desiredCountry' class="sm-img" id='sm-6' src="/../assets/sm6.png">
  <img *ngIf='desiredCountry' class="sm-img" id='sm-7' src="/../assets/sm10.jpg">
<div class="display">
  <div class="dreams" (click)="goToDetailPage(post)" *ngFor="let post of posts | async | countryDream:desiredCountry">
    <img src="{{post.image}}">
    <h3>{{post.title}}</h3>
    <p>
      {{post.why}}
    </p>
  </div>
</div>
<br>
<img *ngIf='desiredCountry' class="sm-img" id='sm-8' src="/../assets/sm17.jpg">
<img *ngIf='desiredCountry' class="sm-img" id='sm-9' src="/../assets/sm16.jpg">
<div class="display">
  <div class="blogs" (click)="goToBlogPage(blog)" *ngFor="let blog of blogs | async | countryBlog: desiredCountry">
    <img src="{{blog.image}}">
    <h2>{{blog.title}}</h2>
    <p>{{blog.content}}</p>
  </div>
</div>
