.display{
  margin-top: 6vh;
  margin-left: 15vw;
  width: 80vw;
}

.dreams {
  background-color: linen;
  display: inline-block;
  margin-left: 2.5vw;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  min-width: 30vw;
  min-height: 35vh;
}

.blogs {
  background-color: linen;
  margin-bottom: 3vh;
  margin-left: 2.5vw;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  width: 65vw;
  min-height: 60vh;
}

.blogs img {
  float: left;
  width: 28vw;
  height: 45vh;
  margin-right: 10px;
}

.dreams:hover, .blogs {
  cursor: pointer;
}

.flag {
  height: 20vh;
  width: 15vw;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
  margin-left: .5vw;
}

.postits {
  margin-left: 4vw;
}

.postit {
  height: 20vh;
  width: 15vw;
  margin-left: .5vw;
  text-align: center;
  background-image: url("http://www.clipartbest.com/cliparts/RTG/zeo/RTGzeorTL.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 6vw;
}

.pin {
  height: 50px;
  width: 70px;
}

.country-name {
  margin-left: .5vw;
  margin-top: 1.2vh;
}

.flag:hover {
  cursor: pointer;
}

.flags {
  margin-left: 2vw;
}

img {
  width: 28vw;
  height: 26vh;
}

.dreams p {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30vw;
  display: block;
  overflow: hidden
}

.blogs p {
  margin: 4px;
}

.sm-img {
  height: 35vh;
  width: 14vw;
  background-color: linen;
  display: inline-block;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 6vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
}

#sm-1 {
  margin-left: 1vw;
  transform: rotate(8deg);
}
#sm-2 {
  margin-top: 6vh;
  transform: rotate(-3deg);
}
#sm-3 {
  margin-bottom: 5vh;
  transform: rotate(-2deg);
}
#sm-4 {
  margin-top: 2vh;
  transform: rotate(6deg);
}
#sm-5 {
  margin-bottom: 3vh;
  transform: rotate(-2deg);
}
#sm-6 {
  transform: rotate(-2deg);
  float: left;
  margin-left: 1vw;
}
#sm-7 {
  float: right;
  margin-right: 1.5vw;
  transform: rotate(5deg);
}
#sm-8 {
  transform: rotate(-2deg);
  float: left;
  margin-left: 1vw;
}
#sm-9 {
  float: right;
  margin-right: 1.5vw;
  transform: rotate(5deg);
}

#title-img {
  transform: rotate(2deg);
  height: 32vh;
  width: 25vw;
  margin-top: 3vh;
  margin-left: 2vw;
  margin-bottom: 4vh;
  box-shadow: -5px 5px 20px rgba(50, 50, 50, 1);
}

#title-img:hover {
  cursor: pointer;
}

h3, h4 {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30vw;
  display: block;
  overflow: hidden
}


@media only screen and (max-width: 1010px) {
  .dreams {
    margin-left: 20vw;
  }
}
@media only screen and (max-width: 910px) {
  #sm-5 {
    display: none;
  }
}
@media only screen and (max-width: 735px) {
  .sm-img {
    display: none;
  }
  p {
    font-size: 12px;
    max-width: 60vw;
  }
  #title-img {
    margin-left: 38vw;
  }
}
